var site=data.site
layout-use("src/layouts/default/template.marko") site=site active-section="blog"
    layout-put into="title"
        layout-placeholder name="title"
    layout-put into="body"
        div class="container"
            main class="main"
                layout-placeholder name="body"
