.errors {
    width: 100%;
    overflow-x: auto;
    background-color: #FFFFCC;
}
.errors .error {
    border-bottom: 1px solid #EEEEEE;
    color: #660000;
    padding: 4px;
}

.errors .message {
    padding-left: 25px;
}

.errors .icon {
    margin-left: 5px;
    float: left;
    color: #CC0000;
}

.errors.hidden {
    display: none;
}