<test-tabs>
    <test-tab title="Home">
        Content for Home
    </test-tab>
    <test-tab title="Profile">
        Content for Profile
    </test-tab>
    <test-tab title="Messages">
        Content for Messages
    </test-tab>
</test-tabs>