<ul>
    <li for="color in data.colors" style="color: $color">
        $color
    </li>
</ul>

<ul>
    <for each="color in data.colors">
        <li style="color: $color">
            $color
        </li>
    </for>
</ul>

<ul>
    <li for="animal in ['dog', 'cat', 'duck']">
        $animal
    </li>
</ul>