ul
    li for(color in data.colors) style="color: ${color}"
        - ${color}
ul
    for(color in data.colors)
        li style="color: ${color}"
            - ${color}
ul
    li for(animal in ['dog', 'cat', 'duck'])
        - ${animal}
