.data-ctr {
    width: 50%;
    float: left;
}

.template-ctr {
    width: 50%;
    float: left;
}

.mto-tiles {
    position: absolute;
    left: 200px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.input-col {
    position: absolute;
    left: 0px;
    width: 50%;
    top: 0px;
    bottom: 10px;
    overflow: auto;
}

.output-col {
    position: absolute;
    top: 0px;
    left: 50%;
    right: 10px;
    bottom: 0px;
}

.top {
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 10px;
    height: 40%;
    right: 0px;
}

.middle {
    position: absolute;
    top: 41%;
    left: 10px;
    height: 25%;
    right: 0px;
}

.bottom {
    position: absolute;
    top: 67%;
    left: 10px;
    bottom: 10px;
    right: 0px;
    padding: 10px;
}

.output-ctr {
    position: absolute;
    top: 53px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.errors-ctr {
    position: absolute;
    top: 53px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    display: none;
}

.has-errors .hide-if-errors {
    display: none;
}

.has-errors .errors-wrapper {
    display: block;
}

.errors-wrapper.align-below {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    z-index: 1000;
}

.errors-wrapper.align-bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: auto;
    width: 100%;
    z-index: 1000;
    opacity: .8;
}

.errors {
    border: 1px solid #2073bc;
}

.editor-wrapper {
    height: 100%;
    width: 100%;
}

.app-tabs.full-screen .tab-pane {
    overflow: visible;
}

.mto-tile {
}

.app-try-marko-widgets .CodeMirror-scroll {
    height: 100%; overflow-y: auto; overflow-x: auto;
}

.app-try-marko-widgets .CodeMirror {
    height: 100%;
}

.mto-tile-javascript .code-ctr {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.mto-tile-template {
    margin-bottom: 15px;
}

.mto-tile-data {

}

.mto-tile-mto-input {

}

.mto-tile-output {
    margin-bottom: 15px;
}

.mto-tile-compiled {

}

.app-try-marko-inline .cols-ctr {
    position: relative;
}

.output-ctr button {
    font-size: 16px;
    padding: 5px;
}