<!-- Simple variables: -->
p
    ---
    Hello ${data.name}!
    You have ${data.count} new messages.
    ---
<!-- JavaScript expressions: -->
p
    ---
    Hello ${data.name.toUpperCase()}!
    You have ${data.count} new messages.
    ---
<!-- Variables/expressions inside JavaScript strings: -->
p
    - ${`Hello ${data.name}`.toUpperCase()}