main {
    margin-left: 220px;
}
h1 .subtitle {
    font-size: 0.5em;
    color: #777;
}

.improve-link {
    float: right;
    font-size: 0.5em;
}

@media only screen and (max-width: 670px) {
    .docs-nav {
        margin-top: 0;
        width: auto;
        float: none;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
    }

    main {
        margin-left: 0px;
    }
}

@media print {
    .docs-nav {
        display: none;
    }

    main {
        margin-left: 0;
    }

    header {
        display: none;
    }

    .gitter-open-chat-button {
        display: none;
    }
}