html, body, pre {
    font-size: 24px;
}

h1 {
    display: none;
}

.docs-nav {
    display: none;
}

main {
    margin-left: 0;
}

header {
    display: none;
}

h2 {
    font-size: 50px;
    line-height: 60px;
    padding-top: 1.3em;
    padding-bottom: 0.2em;
}

h3 {
    font-size: 40px;
    line-height: 50px;
    padding-top: 1.3em;
    padding-bottom: 0.2em;
}

.gitter-open-chat-button {
    display: none;
}

.editor {
    font-size: 16px;
}

ul li {
    font-size: 30px;
    line-height: 1.4em;
}

.page-break {
    page-break-after:always;
}

@media print {
    .page-break {
        visibility: hidden;
    }

}