ul
    li for(name,value in data.settings)
        b
            - ${name}
        ---
        :
                ${value}
        ---
ul
    for(name,value in data.settings)
        li
            b
                - ${name}
            ---
            :
                        ${value}
            ---
