h3.post-title {
    margin-top:0.4em;
    padding-bottom:0.9em;
    border-bottom: 1px solid #eee;
    font-size: 1.2em;
    color: #444;
}

h3 .date {
    font-size: .9em;
}

.post-older {

}

span.post-newer {
    float: right;
}

.separator {
    color: #ccc;
}
#comments {
    margin-top: 0.15em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #eee;
}


/* Tiny Screens */
@media only screen and (max-width: 900px) {
    #main .separator {
        display: none;
    }

    #main .date {
        display: block;
    }
}


