div if(data.age < 50)
    - You are less than 50 years old!
div else-if(data.age === 50)
    - You are 50 years old
div else
    - You are over 50!
if(data.age < 50)
    - You are less than 50 years old!
else-if(data.age === 50)
    - You are 50 years old
else
    - You are over 50!
