<div if="data.age lt 50">
    You are less than 50 years old!
</div>
<div else-if="data.age eq 50">
    You are 50 years old
</div>
<div else>
    You are over 50!
</div>

<if test="data.age lt 50">
    You are less than 50 years old!
</if>
<else-if test="data.age eq 50">
    You are 50 years old
</else-if>
<else>
    You are over 50!
</else>