style
    - .greeting { font-size: 120% }
macro greeting(name,color)
    div class="greeting" style="background-color: ${color}"
        - Hello ${name}!
<!-- Macros can be invoked using the <invoke> tag -->
greeting name="World" color="green"
<!-- Or, macros can be invoked as a function call in an expression -->
greeting('Frank', 'yellow')
