<div class="click-count" w-bind>
    Hello ${data.greetingName}!
    <div>
        You clicked the button
        <span w-id="clickCount">${data.clickCount} ${data.timesMessage}</span>.
    </div>
    <button type="button" w-onClick="handleButtonClick">
        Click Me
    </button>
</div>