.data-ctr {
    width: 50%;
    float: left;
}

.template-ctr {
    width: 50%;
    float: left;
}

.mto-tiles {
    position: absolute;
    left: 200px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.mto-col-input {
    position: absolute;
    left: 0px;
    width: 50%;
}

.mto-col-output {
    position: absolute;
    right: 0px;
    width: 50%;
    padding-left: 10px;
}

.mto-tile {
}

.mto-tile-template {
    margin-bottom: 15px;
}

.mto-tile-data {

}

.mto-tile-mto-options {
    display: none;
}

.mto-tile-output {
    margin-bottom: 15px;
}

.mto-tile-compiled {

}


.mto-html-viewer {
    border: 1px solid #c0c0c0;
    padding: 3px;
    margin-top: 5px;
    background-color: #f7f7f7;
}

.app-try-marko-inline .cols-ctr {
    position: relative;
}

.app-try-marko-inline.inline {
    background-color: #444;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}


.app-try-marko-inline.inline h2 {
    font-size: 15px;
    padding-bottom: 3px;
    color: #fdb725;
}

.app-try-marko-inline.inline .mto-col-input {
    position: relative;
    float: left;
    width: 50%;
    padding-right: 10px;
}

.app-try-marko-inline.inline .mto-col-output {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 10px;
}

.syntax-chooser {
    position: absolute;
    right: 0px;
}

.syntax-chooser .syntax-label {
    font-weight: bold;
}

.syntax-chooser .button-group button {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px;
    outline: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    font-size: 14px;
    line-height: 18px;
    background-color: #f7f7f7;
    color: #369bd7;
    border: 1px solid #369bd7;
}

.syntax-chooser .button-group button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.syntax-chooser .button-group button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.syntax-chooser .button-group button.active {
    color: #fff;
    background-color: #369bd7;
}