.hero-bg {
    background-color: #fff;
}

.hero {
    text-align: center;
    padding: 40px 10px 0;
}

.hero-img {
    width: 300px;
    height: 250px;
}

.hero h2 {
    color: #333;
    font-size: 20px;
}

.marketing-col {
    width: 33.333%;
    float: left;
    padding: 15px;
}

/* Tiny Screens */
@media only screen and (max-width: 600px) {
    .hero {
        padding-top: 10px;
    }

    .hero-img {
        width: 150px;
    }

    .marketing-col {
        width: auto;
        float: none;
    }
}
