div
    ---
    The starting whitespace will be removed
    extra whitespace    will be normalized
    ---
    a href="#"
        - No whitespace!
    - Trailing whitespace will be removed
div marko-preserve-whitespace
    ---
    This
        whitespace will
    be preserved.
    ---
pre
    ---
    By default, pre tags have
    their whitespace preserved
    ---
textarea
    ---
    Same for
    text areas!
    ---
