img src="foo.png" alt=data.title
div class=(data.active ? "tab-active" : "tab-inactive")
    - Hello
div class=(data.active && "tab-active")
    - Hello
input type="checkbox" checked=true disabled=data.disabled
