select
    option [ value=option.value selected=option.selected
        for(option in data.options) ]

        - ${option.value}
input type="checkbox" checked=data.checked
button disabled
    - Button
