.docs-nav {
    margin-top: 1em;
    width: 200px;
    float: left;
    background-color: #353534;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.docs-nav h1 {
    color: #fabe10;
    font-size: 1.3em;
    margin-top: 1.4em;
    margin-bottom: 0.2em;
}
.docs-nav a {
    color: #cfcfcf;
}

.docs-nav ul {
    list-style-type: none;
    margin: 0;
}

.docs-nav a.active {
    color: #8ad2f2;
}