<button type="button" attrs="data.attrs" disabled="${data.disabled}">
    <if test="data.label">
        $data.label
    </if>
    <else-if test="data.renderBody">
        <invoke function="data.renderBody(out)"/>
    </else-if>
</button>