div class="tabs"
    ul class="nav nav-tabs"
        li class="tab" for(tab in data.tabs)
            a href="#${tab.id}" data-toggle="tab"
                - ${tab.title}
    div class="tab-content"
        div id=tab.id class="tab-pane" for(tab in data.tabs)
            invoke tab.renderBody(out)
