.mto {
    position: relative;
}

.mto h2 {
    font-size: 18px;
    line-height: 27px;
    color: #317eac;
    font-weight: bold;
}

.mto-categories {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    padding: 10px;
}

.mto-btn {
    position: relative;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    color: #369bd7;
}

.mto-btn-active {
    color: #fff;
    background-color: #369bd7;
}

.mto-category-btn {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.mto-sample-btn {
    display: inline-block;
}

.mto-sample-navs {
    margin-bottom: 5px;
    height: 2.2em;
    position: relative;
    overflow: hidden;
}

.mto-sample-nav {
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    top: 100%;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.mto-sample-nav-active {
    top: 0%;
    visibility: visible;
    opacity: 1;
    /* animation-duration: 3s;
    animation-name: slidein; */
}

.mto-tiles {
    position: absolute;
    left: 200px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.mto-col-input {
    position: absolute;
    left: 0px;
    width: 50%;
}

.mto-col-output {
    position: absolute;
    right: 0px;
    width: 50%;
    padding-left: 10px;
}

.mto-tile {
}

.mto-tile-template {
    margin-bottom: 15px;
}

.mto-tile-data {

}

.mto-tile-mto-options {
    display: none;
}

.mto-tile-output {
    margin-bottom: 15px;
}

.mto-tile-compiled {

}


.mto-html-viewer {
    border: 1px solid #c0c0c0;
    padding: 3px;
    margin-top: 5px;
    background-color: #f7f7f7;
}

.raptorjs-logo-container {
    text-align: center;
    margin-top: 20px;
}

.raptorjs-logo {

}