#header {
    background-color: #333;
    margin: 0;
    padding: 0;
    position: relative;
}

#logo {
    float: left;
    margin-top: 10px;
    width: 100px;
}

#nav {
    float: right;
    font-size: 22px;
    padding: 0;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav ul li {
    display: inline-block;
}

#nav a {
    text-decoration: none;
    color: #eee;
    margin: 0 20px;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 34px;
    border-bottom: 3px solid transparent;
}

#nav a:hover {
    color:#fdb725;
    text-decoration: none;
    border-bottom: 3px solid #fdb725;
}

#nav a.active {
    border-bottom: 3px solid #fdb725;
}

@media only screen and (max-width: 600px) {
    body {
        margin-top: 49px;
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        cursor: pointer;
    }

    #logo {
        position: absolute;
        width: 50px;
        top: -3px;
        left: 10px;
    }

    #nav a {
        margin: 0 7px;
        padding: 5px 0;
        font-size: 14px;
    }
}
