#header {
    background-color: rgb(29, 31, 33);
    margin: 0;
    padding: 0;
    position: relative;
}

#header h1 {
    margin-top: 0;
    font-size:2.2em;
    margin-bottom: 0;
}
#header h1 a {
    color: #fff;

}
#header h1 a:hover {
    text-decoration: none;
}

#header h2 {
    font-family: "Open Sans", sans-serif;
    font-size:1.3em;
    padding: 0;
    margin: 0;
    color: #BDBDBD;
    font-weight: 200;
}

#logo {
    position: absolute;
    /*width: 80px;
    height: 67px;*/
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 400;
}


#nav {
    position: relative;
    padding: 0;
    font-size: 1em;
    transition: transform 0.3s;
}

#nav a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 13px;
    margin: 0 1em;
    font-size: 1em;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 60px;
    border-bottom: 2px solid transparent;
}

#nav a:hover {
    color:#fdb725;
    text-decoration: none;
    border-bottom: 2px solid #fdb725;
}

#nav a.active {
    border-bottom: 2px solid #fdb725;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#nav ul li {
    display: inline-block;
    text-align: center;
}


#nav .search-form {
    text-align: left;
    padding-left: .8em;
    margin: 0;
    padding: 0;
    margin-left: 1.5em;
}

#nav .search-form .search-input {
    padding: .3em .5em 0;
    font-size: 1em;
    line-height: 1.1em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    background-color: #f2f2f2;
    border: 1px solid #b3b3b3;
    color: #888;
}

#nav fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

#nav:after {
    content: "";
    display: table;
    clear: both;
}

#header h6 {
    margin-top:0.5em;
}

#mobileMenu {
    text-align: right;
    color: white;
    display: none;
    padding: 8px;
    z-index: 300;
    transform: translateY(0%);
}

#header .menu-icon {
    background-image: url(./menu.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: baseline;
}

/* Tablet Screens */
@media only screen and (max-width: 768px) {
    #nav ul {
        text-align: right;
    }
}

/* Tiny Screens */
@media only screen and (max-width: 670px) {
    body {
        margin-top: 65px;
    }

    #header {
        position: fixed;
        top: 0px;
        z-index: 100;
        left: 0px;
        right: 0px;
        cursor: pointer;
    }

    #logo {
        transform: translateY(0%);
        top: 4px;
        left: 4px;
        background-color: rgb(29, 31, 33);
        padding: 4px;
        border-radius: 8px;
    }

    #logo img {
        width: 48px;
        height: 40px;
    }

    #mobileMenu {
        background-color: rgb(29, 31, 33);
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        right: 0px;
    }

    #nav {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 50px;
        background-color: rgb(29, 31, 33);
        z-index: 100;
        margin: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #nav ul {
        overflow: hidden;
    }

    #nav.mobile-hidden {
        transform: translateY(-100%);
    }

    #nav ul li {
        display: block;
    }

    #nav a {
        text-decoration: none;
        color: #fff;
        padding: 0.5em;
        margin: 0;
        font-size: 1em;
        display: inline-block;
        padding-bottom: 10px;
        border-bottom: 2px solid transparent;
    }

    #nav .search-form {
        text-align: center;
        padding-left: .8em;
        margin: 0;
        padding-bottom: 10px;
    }
}